{% extends "base.html" %}
{% block content %}
{% if session.user %}
<div class="title_form">
    <h3 class="white-text text-darken-4 center-align">Add A Cocktail</h3>
</div>
<div class="row card-panel black lighten-1 white-text">
    <form class="col s12" method="POST" action="{{ url_for('add_cocktail') }}">
        <!-- category selection -->
        <div class="row">
            <div class="input-field  white-text col s12">
                <i class="fas fa-folder-open prefix white-text text-white"></i>
                <select id="category_name" name="category_name" class="validate white-text" required>
                    <option class="white-text" value="" disabled selected>Choose a Category
                    </option>
                    {% for category in categories %}
                    <option class="white-text" value="{{ category.category_name }}">{{category.category_name}}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Cocktail Category</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-cocktail prefix white-text text-darken-4"></i>
                <input id="cocktail_name" name="cocktail_name" minlength="5" maxlength="50" type="text"
                    class="validate white-text" required>
                <label for="cocktail_name">Cocktail Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-wine-bottle prefix white-text text-darken-4"></i>
                <textarea id="ingredients" name="ingredients" minlength="5" maxlength="200"
                    class="materialize-textarea validate white-text" required></textarea>
                <label for="ingredients">Ingredients</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-utensil-spoon prefix white-text text-darken-4"></i>
                <textarea id="preparation" name="preparation" minlength="5" maxlength="200"
                    class="materialize-textarea validate white-text" required></textarea>
                <label for="preparation">Preparation</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn-large waves-effect waves-black white text-shadow black-text negrita" type="submit">
                    <strong>Submit </strong><i class="fas fa-plus-circle"></i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endif %}


{% endblock %}