{% extends "base.html" %}
{% block content %}
        <div class="title_form"></div>
        <h3 class="white-text text-darken-4 center-align">Edit A Cocktail</h3>

        <div class="row card-panel black lighten-1 white-text">
            <form class="col s12" method="POST" action="{{ url_for('edit_cocktail',cocktail_id=cocktail._id) }}">
                <!-- category selection -->
                <div class="row">
                    <div class="input-field  white-text col s12">
                        <i class="fas fa-folder-open prefix white-text text-white"></i>
                        <select id="category_name" name="category_name" class="validate white-text" required>
                            <option class="white-text" value="" disabled>Choose a Category
                            </option>
                            {% for category in categories %}
                                {% if category.category_name == cocktail.category_name %}
                            <option class="white-text" value="{{ category.category_name }}" selected>{{category.category_name}}
                            </option>
                                {% else %}
                            <option class="white-text" value="{{ category.category_name }}">{{category.category_name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="category_name">Cocktail Category</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-cocktail prefix white-text text-darken-4"></i>
                        <input id="cocktail_name" name="cocktail_name" minlength="5" maxlength="50"
                            value="{{cocktail.cocktail_name}}" type="text" class="validate white-text" required>
                        <label for="cocktail_name">Cocktail Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-wine-bottle prefix white-text text-darken-4"></i>
                        <textarea id="ingredients" name="ingredients" minlength="5" maxlength="200"
                            class="materialize-textarea validate white-text" required>{{cocktail.ingredients}}"</textarea>
                        <label for="ingredients">Ingredients</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-utensil-spoon prefix white-text text-darken-4"></i>
                        <textarea id="preparation" name="preparation" minlength="5" maxlength="200"
                            class="materialize-textarea validate white-text" required>{{cocktail.preparation}}</textarea>
                        <label for="preparation">Preparation</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{{ url_for('get_cocktails') }}" class="btn-large red waves-effect waves-black text-shadow">
                            Cancel <i class="fas fa-times-circle right"></i></a>
                        <button class="btn-large waves-effect waves-black white text-shadow black-text bold" type="submit">
                            <strong>Edit</strong>
                            <i class="fas fa-edit"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}