{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m7">
        <div class="row">
            <div class="col m6 s12">
                <div class="card vertical">
                    <div class="card-image">
                        <img src="https://freesvg.org/img/abstract-user-flat-4.png">
                    </div>
                </div>
            </div>
            <div class="col m6 s12">
                <div class="card-stacked">
                    <div class="card-content">
                        <h1 id="profile" class="center-align white-text">
                            {{ username }}
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <section class="pt-4">
                    <div class="container px-lg-8">
                        <div class="row gx-lg-5">
                            <div class="col-lg-12 col-xxl-12 mb-12">
                                <div class="card bg-light border-0 h-100">
                                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                        <div class="feature bg-success bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                                class="fas fa-glass-whiskey"></i></div>
                                        <h2 class="fs-4 fw-bold">Your Cocktails </h2>
                                        <!--Materialized collapsed Whiskey-->
                                        <ul class="collapsible">
                                            {% for cocktail in cocktails%}
                                            <li>
                                                <div class="collapsible-header">
                                                    <strong>{{ cocktail.cocktail_name }}
                                                    </strong>
                                                    {% if session.user|lower == cocktail.by%}
                                                    <a href="{{ url_for('edit_cocktail',cocktail_id=cocktail._id)}}" class="btn-floating btn-large waves-effect waves-light dark"><i class="fas fa-edit"></i></a>
                                                    
                                                    <a href="{{ url_for('delete_cocktail',cocktail_id=cocktail._id)}}" class="btn-floating btn-large waves-effect waves-light red center"><i class="fas fa-trash-alt"></i></a>
                                                    {% endif %}
                                                </div>
                                                <div class="collapsible-body">
                                                    <strong>{{ cocktail.cocktail_name }}
                                                    </strong>
                                                    <p>{{cocktail.ingredients}}</p>
                                                    <p>{{cocktail.preparation}}</p>
                                                    <p><em>by:{{cocktail.by}}</em></p>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        <p class="mb-0">With Bootstrap 5, we've created a fresh new layout for this
                                            template!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>




{% endblock %}