{% extends "base.html" %}
{% block content %}

<div class=""></div>
<div class="row card-panel grey lighten-5">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search Tasks</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('get_cocktails') }}" class="red btn text-shadow">Reset</a>
                <button type="submit" class="light-blue darken-1 btn text-shadow">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>
<div><i class="fas fa-glass-whiskey"></i></div>
<h2 class="fs-4 fw-bold">Your Cocktails </h2>
<!--Materialized collapsed Whiskey-->
<ul class="collapsible">
    {% for cocktail in cocktails%}
    <li>
        <div class="collapsible-header">
            <strong>{{ cocktail.cocktail_name }}
            </strong>
        </div>
        <div class="collapsible-body">
            <strong>{{ cocktail.cocktail_name }}
            </strong>
            <p>{{cocktail.ingredients}}</p>
            <p>{{cocktail.preparation}}</p>
            <p><em>by:{{cocktail.by}}</em></p>
        </div>
    </li>
    {% endfor %}
</ul>
<p class="mb-0">With Bootstrap 5, we've created a fresh new layout for this
    template!</p>
{% endblock %}